.gadget{
    position: relative;
    display: grid;
    grid-template-rows: 20vh 10vh 70vh;
    text-align: center;
}
.gadget-header{
    grid-row: 1;
    text-align: center;
}
.gadget-links{
    grid-row: 2;
}
.gadget-images{
    grid-row: 3;
}
.gadget-links > a{
    color: navy;
    height: fit-content;
    padding: 15px;
  }
  .gadget-links > a :hover{
    color: red;
    cursor: pointer;
  }