.gadget{
    position: relative;
    display: grid;
    grid-template-rows: 15vh 5vh 45vh;
    text-align: center;
}
.image-gadget{
    width: 240px;
    height: 510px;
}
.gadget-header{
    grid-row: 1;
    text-align: center;
}
.gadget-links{
    grid-row: 2;
}
.gadget-images{
    grid-row: 3;
}