.coupon{

}
.coupon-header{
    text-align: center;
}
.coupon-links{
    text-align: center;
    padding: 1rem;
}
.coupon-links a{
    border: 2px solid black;
    background-color: rgb(90, 90, 231);
    border-radius: 10%;
}


.coupon-links a{
    color: navy;
    height: fit-content;
    padding: 15px;
  }
  .coupon-links a:hover{
    color: red;
    cursor: pointer;
  }
