.carousel{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 15% 70% 15%;
}
.title{
    color: rgb(26, 190, 75);
    grid-row: 1;
    grid-column: 2;
    position: relative;
    text-align: center;
    font-size: x-large;
  
  }
  
  .slide{
    position: absolute;
    grid-row: 2;
    grid-column: 2;
    border-radius: 0.5rem;
    box-shadow: 0px 0x 7px #400;
    text-align: center;
    width: 600px;
  }
  .slide-hidden{
    display: none;
  }
  .arrow{
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #300)
  }
  .arrow:hover{
    cursor: pointer;
  }
  .arrow-left{
    left: 1rem;
  }
  .arrow-right {
    right: 1rem;
  }
  .indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  .indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #350;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  .indicator-inactive{
    background-color: grey;
  }